<%- include ('common/layout_top.ejs') %>


<!-- Page header -->
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline border-bottom">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>홈</a>
                <span class="breadcrumb-item active">보수 입찰관리</span>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">보수 입찰 관리</span> - 입찰 진행중</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page content -->
<div class="page-content pt-0">
    <%- include ('common/side_nav.ejs') %>
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

            <!-- Dashboard content -->
            <div class="row">
                <div class="col-xl-12">

                    <!-- 보수리스트 -->
                    <div class="card">
                        <div class="card-header header-elements-sm-inline">
                            <h6 class="card-title font-weight-bold">입찰관리 - 입찰 진행중 </h6>
                            <div class="header-elements">
                                <span class="badge badge-success badge-pill">입찰 진행 <%= repair.length %> 건</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                <tr class="table-active">
                                    <th>순서</th>
                                    <th>브랜드 및 지점</th>
                                    <th>보수 승인자</th>
                                    <th>보수 승인일</th>
                                    <th>입찰 공고 등록일</th>
                                    <th>입찰 공고 제목</th>
                                    <th>입찰 담당자</th>
                                    <th>입찰 마감일</th>
                                    <th>보수 진행일</th>
                                    <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < repair.length; i++){ %> 
                                        <tr>
                                            <td class="text-center"><%= i + 1 %></td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-3">
                                                        <a href="#">
                                                            <img src="/admin/global_assets/images/brands/mercedes-benz.svg" class="rounded-circle" width="32" height="32" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="text-left">
                                                        <a href="#" class="text-body"><%= repair[i].store.name %></a>
                                                        <div class="text-muted font-size-sm">
                                                            <span class="badge badge-mark border-primary mr-1"></span>
                                                            <%= repair[i].brand.name %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><span class="font-weight-semibold mb-0"><%= repair[i].plan_confirm_user.manager_name %></span></td>
                                            <td><span class="text-muted"><%= (new Date(repair[i].plan_confirm_user.created_at)).toLocaleDateString() %></span></td>
                                            <td><span class="text-muted"><%= (new Date(repair[i].created_at)).toLocaleDateString() %></span></td>
                                            <td><span class="text-muted"><a href="#" data-toggle="modal" data-target="#exampleModalLong"><%= repair[i].title %></a></span></td>
                                            <td><span class="text-success"><%= repair[i].plan_confirm_user.manager_name %></span></td>
                                            <td><span class="text-muted"><%= (new Date(repair[i].repair_request.end_at)).toLocaleDateString() %></span></td>
                                            <td><span class="text-muted"><%= (new Date(repair[i].repair_request.end_at)).toLocaleDateString() %></span></td>
                                            <td class="text-center">
                                                <div class="list-icons">
                                                    <div class="dropdown">
                                                        <a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item"><i class="icon-file-stats"></i> 보수 요청서 보기</a>
                                                            <a href="#" class="dropdown-item"><i class="icon-file-text2"></i> 입찰 요청서 보기</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% } %>
                                    
                                   
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /보수 리스트 -->
                </div>
                <!-- /dashboard content -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


    <!-- modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">강남점 매장 출입구 보수 요청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="border-right:unset; border-left:unset; ">
                        <div class="border-2 rounded p-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">보수 완료일</dt>
                                <dd>2022-08-01</dd>

                                <dt class="font-weight-bold">보수 현장 주소</dt>
                                <dd>서울 특벽시 강남구 삼성동 11-11번지 1층</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">입찰 담당자</dt>
                                <dd>홍길동</dd>

                                <dt class="font-weight-bold">입찰 마감일</dt>
                                <dd>2022-08-01</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">공고 내용</dt>
                                <dd>공고 내용입니다.공고 내용입니다.공고 내용입니다.</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">사진 및 영상</dt>
                                <dd>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl>
                                <dt class="font-weight-bold">첨부자료</dt>
                                <dd>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                                <div class="media my-1">
                                                    <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger top-0"></i></div>
                                                    <div class="media-body">
                                                        <div class="font-weight-semibold">new_december_offers.pdf</div>

                                                        <ul class="list-inline list-inline-condensed mb-0">
                                                            <li class="list-inline-item text-muted">174 KB</li>
                                                            <li class="list-inline-item"><a href="#">View</a></li>
                                                            <li class="list-inline-item"><a href="#">Download</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                                <div class="media my-1">
                                                    <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger top-0"></i></div>
                                                    <div class="media-body">
                                                        <div class="font-weight-semibold">assignment_letter.pdf</div>

                                                        <ul class="list-inline list-inline-condensed mb-0">
                                                            <li class="list-inline-item text-muted">736 KB</li>
                                                            <li class="list-inline-item"><a href="#">View</a></li>
                                                            <li class="list-inline-item"><a href="#">Download</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl>
                                <dt class="font-weight-bold">필수 자재</dt>
                                <dd>
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">자재 A:</span>
                                            <div class="ml-auto font-weight-bold">300,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">자재 B:</span>
                                            <div class="ml-auto font-weight-bold">100,000 원</div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /modal -->
    <!-- /notifications -->
<%- include ('common/layout_bottom.ejs') %>